:root {
  /* Colors */
  --clr-primary-purple-50: hsl(260, 100%, 95%);
  --clr-primary-purple-300: hsl(264, 82%, 80%);
  --clr-primary-purple-500: hsl(263, 55%, 52%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-grey-100: hsl(214, 17%, 92%);
  --clr-neutral-grey-200: hsl(0, 0%, 81%);
  --clr-neutral-grey-400: hsl(224, 10%, 45%);
  --clr-neutral-grey-500: hsl(217, 19%, 35%);
  --clr-neutral-dark-blue: hsl(219, 29%, 14%);
  --clr-neutral-black: hsl(0, 0%, 7%);

  /* Typography */
  --ff-body: "Barlow Semi Condensed", sans-serif;
  --fs-body: 13px;
  --fw-medium: 500;
  --fw-semi: 600;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-grey-100);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(72px, calc(16.718px + 14.742vw), 229px) 34px;
}

.testimonials-grid {
  display: grid;
  grid-template-areas:
    "hero"
    "jonathan"
    "jeanette"
    "patrick"
    "kira";
  gap: 30px;
  width: 100%;

  @media (min-width: 1024px) {
    grid-template-areas:
      "hero hero jonathan kira"
      "jeanette patrick patrick kira";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 1114px;
    column-gap: 32px;
    row-gap: 20px;
  }
}

.testimonial-card {
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.testimonial-card--hero {
  grid-area: hero;

  @media (min-width: 1024px) {
    background-image: url(/src/assets/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 60px;
  }
}

.testimonial-card--jonathan {
  grid-area: jonathan;
}

.testimonial-card--jeanette {
  grid-area: jeanette;
}

.testimonial-card--patrick {
  grid-area: patrick;
}

.testimonial-card--kira {
  grid-area: kira;
}

.testimonial-card--purple {
  color: var(--clr-primary-purple-50);
  background-color: var(--clr-primary-purple-500);
}

.testimonial-card--purple .testimonial-card__avatar {
  border-color: var(--clr-primary-purple-300);
}

.testimonial-card--grey {
  color: var(--clr-neutral-grey-100);
  background-color: var(--clr-neutral-grey-500);
}

.testimonial-card--grey .testimonial-card__avatar {
  border-color: var(--clr-neutral-grey-200);
}

.testimonial-card--white {
  color: var(--clr-neutral-grey-400);
  background-color: var(--clr-neutral-white);
}

.testimonial-card--white .testimonial-card__avatar {
  border-color: var(--clr-neutral-white);
}

.testimonial-card--dark-blue {
  color: var(--clr-neutral-grey-100);
  background-color: var(--clr-neutral-dark-blue);
}

.testimonial-card--dark-blue .testimonial-card__avatar {
  border-color: var(--clr-primary-purple-500);
}

.testimonial-card__account {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonial-card__author {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.testimonial-card__author-status {
  font-size: 0.67rem;
}

.testimonial-card__avatar {
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 32px;
  height: auto;
}

.testimonial-card__highlight {
  font-weight: var(--fw-semi);
  letter-spacing: 0.2px;
  line-height: 1.23;
}

.testimonial-card--purple .testimonial-card__highlight,
.testimonial-card--grey .testimonial-card__highlight {
  color: var(--clr-neutral-white);
}

.testimonial-card__review {
  line-height: 1.4;
  letter-spacing: 0.04px;
}

.testimonial-card__review::before {
  content: "\201C\00a0";
}

.testimonial-card__review::after {
  content: "\00a0\201D";
}

.footer {
  text-align: center;
  font-size: 0.7rem;
  align-self: center;
  padding-bottom: 8px;
  color: var(--clr-neutral-black);
}

.footer__link {
  color: var(--clr-neutral-black);
  text-decoration: none;
  font-weight: var(--fw-semi);
}

.footer__link:hover,
.footer__link:focus-visible {
  text-decoration: underline;
}
